<a href="https://colab.research.google.com/github/naga-sk/HackerRank/blob/main/HackerRank_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print combination of 3 number ranges x, y, z from 0 to x and to y and to z respectively, except when the sum of x, y, z is not equal to number n

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
 

result = []

for i in range (0,x+1):
    for j in range (0,y+1):
        for k in range (0,z+1):
            if (i+j+k != n):
                group = [i, j, k]
                result.append(group)

print (result)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

# Find the runner up score
https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given 'n' scores. Store them in a list and find the score of the runner-up.

**Input Format**

The first line contains 'n'. The second line contains an array A[] of n integers each separated by a space.

**Constraints**

**Output Format**

Print the runner-up score.

In [ ]:
arr = map(int, input().split())

nums = list(arr)
# print(nums)
winner = nums[0]
runner = None

for i in range(1,len(nums)):
    if nums[i] != winner:
        if nums[i] > winner:
            runner = winner        
            winner = nums[i]
        elif runner == None or nums[i] > runner:
            runner = nums[i]
                
print (runner)

-99 -99 -98 -98 0
-98

In [ ]:
arr = map(int, input().split())

inpArr = list(arr)
inpArr.sort(reverse = True)
#print (inpArr)

runner = inpArr[0]

# Find the second largest num
for i in range(1,len(inpArr)):
  if runner > inpArr[i]:
    runner = inpArr[i]
    break

print (runner)

In [ ]:
arr = map(int, input().split())

inpArr = list(set(arr)) # set is an iterable that is unordered
inpArr.sort() # sort the list

print (inpArr[len(inpArr)-2]) #print the second last number from the sorted order.

# Alternative would be to

-99 -100 -98 -90 -99 -100 -98
[-90, -100, -99, -98]
[-100, -99, -98, -90]
4
-98

# Nested Lists
https://www.hackerrank.com/challenges/nested-list/problem?isFullScreen=true&h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

Given the names and grades for each student in a class of 'N' students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [ ]:
scoreList = []

for _ in range(int(input())):
  name = input()
  score = float(input())

  thisList = [name, score]
  scoreList.append(thisList)

scoreList.sort(key = lambda x: x[1])
print (scoreList)

secondScore = None

for x in range(0,len(scoreList)):
  if secondScore == None:
    if scoreList[x][1] < scoreList[x+1][1]:
      secondScore = scoreList[x+1][1]
  else: 
    if scoreList[x][1] == secondScore:
      print (scoreList[x][0])
    else:
      break

5
q
3
w
3
e
2
r
2
t
1
[['t', 1.0], ['e', 2.0], ['r', 2.0], ['q', 3.0], ['w', 3.0]]
e
r

# Find a string
In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left.

NOTE: String letters are case-sensitive.

**Input Format**

The first line of input contains the original string. The next line contains the substring.

**Constraints**
Each character in the string is an ascii character.

**Output Format**

Output the integer number indicating the total number of occurrences of the substring in the original string.

In [ ]:
string = "ininini"
sub_string = "ini"

i = 0
count = 0 

while i >= 0:
  #print (string)
  i = string.find(sub_string)
  #print ("index is ", i)
  string = string[i+1:]

  if (i < 0):
    break
  else:
    count += 1

print (count)

3

# Alphabet Rangoli
https://www.hackerrank.com/challenges/alphabet-rangoli/problem?isFullScreen=true

In [ ]:
from typing import Text
size = 20
delimiter = '-'

string = "abcdefghijklmnopqrstuvwxyz"

charList = list(string[:size])

count = 1
incr = True

while count > 0:
  pattern = ""

  for x in range(0, size-count):
    pattern = pattern  + "+" + delimiter 

  for y in range(size, size-count, -1):
    pattern = pattern + charList[y-1] + delimiter

  if incr:
    count += 1
  else:
    count -= 1

  if count == size:
    incr = False

  pattern = pattern + pattern[len(pattern)-4::-1]

  print (pattern)

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+
+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+
+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+
+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+
+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+
+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+
+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+
t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t
+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+
+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+
+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+
+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+
+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+
+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+
+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-j-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-k-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-l-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-m-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-n-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-o-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-p-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-q-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-r-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-s-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-t-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

In [ ]:
size = 1
delimiter = '-'
fill = '|'

string = "abcdefghijklmnopqrstuvwxyz"

charList = list(string[:size])

count = 1
incr = True

while count > 0:

  print (((fill + delimiter) * (size-count)) + delimiter.join(charList[-1:-1-count:-1]) + delimiter.join(charList[size-count:size])[1:] + ((delimiter + fill) * (size-count)))

  if count == size:
    incr = False
    
  if incr:
    count += 1
  else:
    count -= 1

a

# Merge the tools
https://www.hackerrank.com/challenges/merge-the-tools/problem?isFullScreen=true

In [ ]:
string = "ABC"
k = 1

count = 1
printStr = ""
for eachChar in string:
  # print (count,": ", eachChar)
  if eachChar not in printStr:
    printStr = printStr + eachChar
    #print ("New string: ", printStr)
  count += 1
  if count == k+1:
    print (printStr)
    printStr = ""
    count = 1

A
B
C

# Any or All
https://www.hackerrank.com/challenges/any-or-all/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

In [ ]:
inpStr = "121 3 11 123321 999"
nums = map(int, inpStr.split())

outList = []
isPalindromic = False

for eachNum in list(nums):
    outList.append(eachNum>0)
    
    strList = list(str(abs(eachNum)))
    #print ("Evaluate :",strList)
    numOfDigits = len(strList)
    midIndex = int((numOfDigits - numOfDigits%2) / 2)
    #print (midIndex)
    #print (strList[0:midIndex])
    #print (strList[-1:-1-midIndex:-1])
    #print (strList[0:midIndex] == strList[-1:-1-midIndex:-1])
    if strList[0:midIndex] == strList[-1:-1-midIndex:-1]:
      isPalindromic = True


outList.append(isPalindromic)
  
print (all(outList))

True

# Word Order
https://www.hackerrank.com/challenges/word-order/problem?isFullScreen=true

In [ ]:
n = int(input())
inpList = []
for each in range(0,n):
    inpList.append(input())

outStr = ""
outList = []

for eachStr in inpList:
    #print ("Current String :", eachStr, " Index:",index)
    if outList.count(eachStr) == 0:
        outList.append(eachStr)
        outStr = outStr + str(inpList.count(eachStr)) + " "

print (len(outList))
print (outStr)

In [ ]:
n = int(input())
outDict = {}
for each in range(0,n):
    newStr = input()
    if newStr not in outDict.keys():
      outDict[newStr] = 1
    else:
      count = outDict[newStr]
      outDict.update({newStr:count+1})

print (len(outDict))
outStr = ""
for each in outDict.values():
  outStr = outStr + str(each) + " "
print (outStr)

5
1
150
1
150
1
2
3 2

# String Formatting - Print number, Octal, Hexadecimal and binary of a range of numbers
https://www.hackerrank.com/challenges/python-string-formatting/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

In [ ]:
def print_formatted(number):
    space = len(str(bin(number)))-1
            
    for x in range(1,number+1):
        print (str(x).rjust(space-1," ") + str(oct(x))[2:].rjust(space," ") + str(hex(x))[2:].rjust(space," ") + str(bin(x))[2:].rjust(space," "))
        
if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     a  1010
   11    13     b  1011
   12    14     c  1100
   13    15     d  1101
   14    16     e  1110
   15    17     f  1111
   16    20    10 10000
   17    21    11 10001

# Capitalize!

https://www.hackerrank.com/challenges/capitalize/problem?isFullScreen=true

In [ ]:
    s = "1 W 2 R 3g"
    print (s.title())
    myStr = s.split(" ")
    print (myStr)
    myStr = [x.capitalize() for x in myStr]
    print (" ".join(myStr))

1 W 2 R 3G
['1', 'W', '2', 'R', '3g']
1 W 2 R 3g

# Minion Game
https://www.hackerrank.com/challenges/the-minion-game/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

In [ ]:
string = input().strip()

vowels = 'AEIOU'

kevin = 0
stuart = 0
for i in range(len(string)):
    if string[i] in vowels:
        kevin += (len(string)-i)
    else:
        stuart += (len(string)-i)

if stuart > kevin:
    print ("Stuart", stuart)
elif kevin > stuart:
    print ("Kevin", kevin)
else:
    print ("Draw")

BANANA
Stuart 12

In [ ]:
    s = input()
    
    myDict = {}
    for x in s:
        print(x)
        if x in myDict:
            myDict[x] = myDict[x]+1
            print (myDict)
        else:
            myDict[x] = 1
            print (myDict)
    
    count = 0
    sortedDict = sorted(myDict.items(), key = lambda a: a[0])
    print (sortedDict)
    for w in sorted(sortedDict, key=lambda b: b[1], reverse=True):
        print(w[0], w[1])
        count += 1
        if count == 3:
            break

abbbddcc
a
{'a': 1}
b
{'a': 1, 'b': 1}
b
{'a': 1, 'b': 2}
b
{'a': 1, 'b': 3}
d
{'a': 1, 'b': 3, 'd': 1}
d
{'a': 1, 'b': 3, 'd': 2}
c
{'a': 1, 'b': 3, 'd': 2, 'c': 1}
c
{'a': 1, 'b': 3, 'd': 2, 'c': 2}
[('a', 1), ('b', 3), ('c', 2), ('d', 2)]
b 3
c 2
d 2

# Polar coordinates
https://www.hackerrank.com/challenges/polar-coordinates/problem?isFullScreen=true

In [ ]:
from cmath import phase
import re

inpList = re.findall("[-]?[0-9]+[.]?[0-9]*", input())
r = float(inpList[0])
t = float(inpList[1])

#print (r)
#print (t)

print (abs(complex(r, t)))
print (phase(complex(r, t)))

-1.0
-5.0
5.0990195135927845
-1.7681918866447774

# Collections.counter()
https://www.hackerrank.com/challenges/collections-counter/problem?isFullScreen=true

In [ ]:
# Method 1: Without using collections
shoeCount = int(input())
shoes = list(map(int, input().split()))

earning = 0
custCount = int(input())
for x in range(custCount):
    size, price = map(int, input().split())
    if size in shoes:
        #print ("Yes")
        earning += price
        shoes.remove(size)
    #else:
        #print("Not Available")
        
print (earning)

10
3 4 5 6
3
3 50
3 60
9 10
50

In [ ]:
# Method 2 - using collections.Counter
from collections import Counter

shoeCount = int(input())
shoes = Counter(map(int, input().split()))
custCount = int(input())

earning = 0

for i in range(custCount):
    size, price = map(int, input().split())
    if shoes[size]: 
        earning += price
        shoes[size] -= 1

print (earning)

# Text Wrap

In [ ]:
string = "0123456789a"
width = 3

outList = []
i = 0

while i < len(string):
  # string[0:3]
  # string[3:6]
  # string[6:9]
  print(string[i:i+width])
  i += width 


#s = "\n".join(outList)
#print (s)

012
345
678
9a

In [ ]:
# Given in integer 1<=n<=9 
# print the following
# 1
# 22
# 333
# (n-1)(n-1)(n-1)... n-1 times
# Use only 2 lines
# Method 1 - Using an additional for loop
for i in range(1,int(input())): 
    print (sum([i*(10**(each-1)) for each in range(1,i+1)]))

5
1
22
333
4444

In [ ]:
# Given in integer 1<=n<=9 
# print the following
# 1
# 22
# 333
# (n-1)(n-1)(n-1)... n-1 times
# Use only 2 lines
# Method 2 - Using String mutiplication
for i in range(1,int(input())): 
    print (str(i)*i)

5
1
22
333
4444

In [ ]:
# Given in integer 1<=n<=9 
# print the following
# 1
# 22
# 333
# (n-1)(n-1)(n-1)... n-1 times
# Use only 2 lines
# Method 3 - Using Arithmetic
for i in range(1,int(input())): 
    print (i * ((10**i)-1)//9)

5
1
22
333
4444

In [ ]:
# Use only 2 lines

# Time Delta
https://www.hackerrank.com/challenges/python-time-delta/problem?isFullScreen=true

In [ ]:
ts_inp = """Fri 11 Feb 2078 00:05:21 +0400
Mon 29 Dec 2064 03:33:48 -1100
Wed 12 May 2269 23:22:15 -0500
Tue 05 Oct 2269 02:12:07 -0200
Sat 14 Sep 2126 00:36:44 +1400
Wed 22 Jun 2050 23:18:57 -0100
Sat 17 Sep 2107 18:52:42 +0530
Wed 24 Apr 2199 15:00:11 -0900
Sat 24 Aug 2080 00:35:31 +1030
Mon 12 Jan 1998 01:22:02 -0700
Thu 16 Jul 2026 06:28:56 -0930
Sun 20 Apr 2149 00:02:39 -0400
Sat 09 Jun 1979 12:33:03 +0200
Sat 28 Dec 2120 16:55:13 +0500
Thu 19 Sep 2199 10:47:49 +0330
Sun 15 May 2016 02:21:14 +0630
Sun 23 Nov 2110 22:33:19 -1100
Sun 22 Oct 2141 05:14:53 +1100
Tue 03 Mar 2065 08:11:36 -0700
Mon 17 Jan 2163 01:56:54 +0300
Thu 15 Aug 2069 05:42:18 -0930
Fri 03 Aug 2227 17:53:10 -0430
Fri 05 Nov 1999 05:15:31 -0430
Thu 19 Jun 2155 23:27:54 -0600
Wed 24 May 2079 00:19:55 -0500
Wed 15 Aug 2277 09:50:14 -0900
Thu 20 Oct 2140 04:28:27 +0330
Thu 06 Mar 2104 23:00:38 -0430
Sat 25 Mar 2169 04:20:31 +0800
Sun 26 Jun 2107 16:51:54 +0300
Sat 01 Apr 2090 06:40:55 +0900
Sun 28 Jan 2283 11:34:27 +0545
Sat 04 Aug 2238 13:24:34 -0700
Fri 30 Sep 2005 23:39:08 +0300
Thu 09 Jul 2105 02:11:50 +0900
Tue 22 Mar 2146 00:37:27 -0700
Fri 20 Mar 2015 10:10:16 -0500
Mon 03 Feb 2138 23:23:23 +0930
Thu 01 Jan 2105 11:21:13 +0500
Mon 04 Oct 2117 01:49:25 -1100
Tue 19 Jul 2061 17:15:10 -1000
Mon 22 Apr 2250 10:04:43 +1100
Mon 15 Jul 2058 00:43:43 +0400
Sun 03 Aug 2132 11:02:09 +1030
Fri 10 Jan 2138 02:13:59 -0400
Tue 23 Mar 2083 06:59:22 -0300
Sat 03 May 2206 23:02:53 -0430
Thu 30 Aug 2068 03:17:00 -0800
Tue 28 Jul 2246 19:08:25 +1030
Tue 02 Jul 2193 04:39:00 +0000
Fri 15 Feb 2228 15:43:23 +0900
Tue 31 Jul 2018 13:13:28 +0930
Sat 17 Nov 2204 07:53:40 +0800
Sun 12 Nov 1978 13:02:43 -0300
Wed 16 Nov 2157 07:56:31 +0800
Fri 19 Mar 2049 14:18:58 -0430
Sat 26 May 2227 17:18:53 +0100
Tue 19 Nov 2024 13:11:14 +0930
Fri 28 Apr 1972 10:08:34 -0500
Tue 11 Aug 2178 03:34:41 -0900
Sun 30 Jul 2147 14:56:43 +1400
Fri 19 Jul 2171 15:56:03 +1100
Thu 10 Mar 2168 22:15:22 +0000
Mon 30 Jul 2159 07:54:24 +0200
Mon 07 Dec 2257 06:40:47 -0100
Sat 09 Jan 2140 17:18:29 +0500
Tue 22 Sep 2189 18:33:00 +1300
Wed 29 Sep 1971 18:10:00 -1100
Fri 03 Jan 2076 05:17:07 +1000
Sun 17 May 2071 15:51:09 -0600
Fri 29 Nov 2250 05:12:44 +0200
Wed 26 Apr 2248 05:28:52 -0700
Fri 20 Oct 2254 08:16:14 +1030
Sat 01 Jan 2281 17:23:04 +0545
Wed 21 Jun 2243 11:15:57 -0800
Sat 28 Apr 2131 05:15:09 +0630
Wed 07 Sep 2163 21:17:42 -0700
Tue 20 Aug 2171 14:39:48 -0600
Mon 14 Jun 2060 07:07:47 -1200
Wed 31 Mar 1971 15:38:38 +0530
Sat 11 Nov 2062 20:20:09 +1200
Tue 07 Jan 2081 18:42:21 +0430
Sat 03 Apr 2269 09:57:27 -0430
Sat 10 Jan 2201 18:39:13 +0545
Fri 24 Feb 2136 09:48:49 +1100
Tue 21 Mar 2062 10:10:16 +1200
Sat 29 Jun 2137 20:49:04 +0430
Sun 03 Oct 2252 19:34:08 -0200
Fri 04 Jan 2069 10:30:15 -0200
Tue 17 May 2214 01:48:33 +0000
Fri 11 Mar 2016 21:13:54 -0100
Fri 07 Mar 2228 21:01:13 +0300
Tue 12 Apr 2231 15:38:00 +0200
Sun 05 Jan 1992 07:37:10 -0500
Tue 24 Apr 2198 16:14:38 +1300
Tue 27 Feb 2018 10:46:47 -0500
Sat 10 Apr 2280 22:54:22 -0900
Fri 12 Jan 2080 08:56:55 +1000
Fri 17 Nov 2276 15:42:42 +0400
Thu 06 Nov 2070 10:05:08 +0700
Mon 24 Oct 2191 04:55:27 +0300
Mon 12 Jan 2161 03:26:51 -0900
Thu 24 Oct 1996 10:08:51 -0430
Tue 03 Aug 2038 23:15:58 +0800
Tue 31 Oct 2006 01:34:19 +0100
Sat 23 Jun 2007 10:25:51 -1000
Fri 03 Jul 2150 05:56:11 +0600
Sat 29 Dec 2260 15:12:49 +0545
Fri 03 Jul 2065 01:31:24 -0300
Tue 14 Apr 2116 02:09:21 -0700
Mon 25 Jul 2033 15:13:38 +0400
Mon 11 Aug 2087 03:38:34 +1400
Thu 28 Jun 2170 07:23:53 +0900
Sun 29 Apr 2260 02:29:29 +1030
Wed 02 Apr 2053 01:21:28 -0900
Mon 31 Oct 2242 11:27:13 -0900
Fri 29 Sep 2084 02:07:10 -1000
Sun 04 May 2183 11:28:17 -0400
Fri 12 Sep 2014 01:35:03 +0545
Sat 23 Jan 2286 08:03:53 +0600
Fri 28 Apr 2209 08:14:02 +0930
Mon 03 Sep 2204 07:26:04 +0400
Sat 17 Oct 2218 16:20:23 +0630
Fri 10 Jul 2133 06:02:11 -0400
Thu 24 Sep 2178 18:14:35 -0930
Sun 16 Dec 2227 23:03:40 -1100
Fri 20 Mar 1992 19:32:35 +0000
Mon 16 Apr 2181 23:46:22 +1030
Tue 21 May 2097 14:50:40 +0800
Sat 06 Sep 2036 20:31:27 +0545
Mon 20 Sep 2088 16:37:20 -0800
Tue 26 Apr 2112 15:53:34 -0500
Mon 02 Mar 2048 11:39:54 -0800
Sat 06 Jul 2261 06:47:26 +1100
Sat 22 Jan 1977 13:32:22 +1030
Sat 24 Jan 2178 22:37:08 +0330
Tue 12 Jun 2046 11:37:04 -0500
Sat 21 May 2044 14:06:13 +1030
Fri 12 Oct 2063 22:07:36 +1030
Thu 05 Jan 1984 08:58:18 +0300
Wed 18 Feb 2235 01:26:39 +1100
Mon 01 May 2023 19:25:34 -1100
Mon 20 Nov 2276 13:34:20 +0930
Fri 15 Jun 2029 08:03:18 -1000
Sat 31 Jan 2246 04:22:55 +0600
Tue 26 Jul 2033 22:17:49 -0600
Tue 02 Aug 1994 23:34:02 -0100
Thu 12 Nov 2235 06:41:07 +1400
Wed 25 May 2033 03:35:01 +0600
Thu 25 Dec 2110 19:08:36 +0900
Sun 15 Mar 2009 14:05:33 -0400
Fri 13 Jun 1980 21:28:12 +1300
Thu 18 Jun 2009 18:51:53 +1400
Tue 25 Nov 2059 18:30:23 +1000
Tue 18 Feb 2212 02:12:43 -0930
Tue 06 Oct 2268 03:10:40 +0500
Fri 09 Jul 2286 08:53:13 +0930
Mon 26 Feb 2142 01:15:30 +0930
Sun 09 Jan 2022 19:02:40 +1300
Tue 12 Aug 2059 14:07:10 +0800
Sat 08 Jul 2023 08:13:44 -1200
Sun 12 Dec 2010 22:19:32 +0630
Fri 01 Jul 2050 19:10:54 -0100
Thu 10 Apr 2138 14:59:21 -0500
Wed 25 Nov 2189 06:45:13 +0200
Sat 22 Oct 2061 13:20:00 +0530
Fri 22 Mar 1985 22:34:45 +0600
Thu 19 Mar 2172 05:41:08 -0300
Sat 25 Sep 1982 05:50:54 +0930
Sun 21 Apr 2278 04:24:45 -1200
Wed 05 Oct 2050 12:02:14 +0530
Wed 30 Apr 2059 08:09:46 +1400
Mon 09 Oct 2186 20:12:57 +0330
Sat 29 Dec 2255 18:37:49 +0500
Tue 15 Dec 2009 07:01:49 +1300
Sat 14 Apr 2221 02:56:39 -0930
Sun 29 Nov 1987 02:10:57 -0600
Sat 25 Jun 2208 13:57:19 +0530
Tue 26 Nov 2211 22:41:01 +0430
Mon 01 Apr 2052 19:10:40 -0500
Sun 07 Apr 2267 13:06:14 -0100
Wed 22 Nov 2124 11:49:22 +0500
Sun 16 Jun 2216 08:18:21 -0430
Fri 13 Sep 1991 21:59:15 +0200
Tue 17 May 1977 17:24:30 +0430
Tue 08 Jan 2019 13:31:23 +0300
Fri 10 Jul 2144 06:22:53 +0930
Sat 10 Oct 1992 15:42:54 -0400
Mon 21 Jun 2088 09:26:48 +0330
Fri 26 Aug 2146 12:39:37 -0800
Sun 23 Jun 2086 03:58:25 +1100
Tue 24 Oct 2265 19:23:42 +0100
Sat 25 Jun 2078 21:33:09 +0500
Wed 14 Feb 2283 11:48:06 +0600
Mon 29 Dec 2223 04:13:37 +0330
Fri 26 Dec 2036 13:42:38 +1100
Sat 06 Aug 2061 15:39:33 -1000
Thu 20 Nov 2223 05:28:37 -1000
Wed 29 Aug 2029 06:11:15 +0900
Thu 11 Sep 2217 22:45:23 +0630
"""

import calendar as cal
import time

def get_seconds(timestamp):
    # Use <Calendar.timegm()> and <time.strptime()> to calculate seconds
    # This does not adjusted for timezone
    ts = cal.timegm(time.strptime(timestamp, "%a %d %b %Y %H:%M:%S %z"))

    # Evaluate the offset seconds for the timezone based on the 
    # last 4 characters of the timestamp
    offset_secs = int(timestamp[-4:-2]) * 3600 + int(timestamp[-2:]) * 60

    # Based on positive or negative timezone offset, apply the offset accordingly 
    # to get absolute time in seconds
    secs = ts - offset_secs if (timestamp[-5] == '+') else ts + offset_secs
    
    return secs

# Complete the time_delta function below.
def time_delta(t1, t2):
    print (t1)
    print (t2)
    return str(abs(get_seconds(t1) - get_seconds(t2))
    
if __name__ == '__main__':
    #fptr = open(os.environ['OUTPUT_PATH'], 'w')

    #t = int(input())

    #for t_itr in range(t):

    ts_list = ts_inp.splitlines()
    i = 0

    while i < len(ts_list):
        delta = time_delta(ts_list[i], ts_list[i+1])
        print (delta)
        i+=2

Fri 11 Feb 2078 00:05:21 +0400
Mon 29 Dec 2064 03:33:48 -1100
Fri 11 Feb 2078 00:05:21 +0400 3411749121
Mon 29 Dec 2064 03:33:48 -1100 2997786828
413962293
Wed 12 May 2269 23:22:15 -0500
Tue 05 Oct 2269 02:12:07 -0200
Wed 12 May 2269 23:22:15 -0500 9446991735
Tue 05 Oct 2269 02:12:07 -0200 9459519127
-12527392
Sat 14 Sep 2126 00:36:44 +1400
Wed 22 Jun 2050 23:18:57 -0100
Sat 14 Sep 2126 00:36:44 +1400 4944969404
Wed 22 Jun 2050 23:18:57 -0100 2539556337
2405413067
Sat 17 Sep 2107 18:52:42 +0530
Wed 24 Apr 2199 15:00:11 -0900
Sat 17 Sep 2107 18:52:42 +0530 4345708962
Wed 24 Apr 2199 15:00:11 -0900 7236432011
-2890723049
Sat 24 Aug 2080 00:35:31 +1030
Mon 12 Jan 1998 01:22:02 -0700
Sat 24 Aug 2080 00:35:31 +1030 3491647531
Mon 12 Jan 1998 01:22:02 -0700 884593322
2607054209
Thu 16 Jul 2026 06:28:56 -0930
Sun 20 Apr 2149 00:02:39 -0400
Thu 16 Jul 2026 06:28:56 -0930 1784217536
Sun 20 Apr 2149 00:02:39 -0400 5658177759
-3873960223
Sat 09 Jun 1979 12:33:03 +0200
Sat 28 Dec 2120 16:55:13 +0500
Sat 09 Jun 1979 12:33:03 +0200 297772383
Sat 28 Dec 2120 16:55:13 +0500 4764830113
-4467057730
Thu 19 Sep 2199 10:47:49 +0330
Sun 15 May 2016 02:21:14 +0630
Thu 19 Sep 2199 10:47:49 +0330 7249159069
Sun 15 May 2016 02:21:14 +0630 1463255474
5785903595
Sun 23 Nov 2110 22:33:19 -1100
Sun 22 Oct 2141 05:14:53 +1100
Sun 23 Nov 2110 22:33:19 -1100 4446264799
Sun 22 Oct 2141 05:14:53 +1100 5421665693
-975400894
Tue 03 Mar 2065 08:11:36 -0700
Mon 17 Jan 2163 01:56:54 +0300
Tue 03 Mar 2065 08:11:36 -0700 3003318696
Mon 17 Jan 2163 01:56:54 +0300 6091887414
-3088568718
Thu 15 Aug 2069 05:42:18 -0930
Fri 03 Aug 2227 17:53:10 -0430
Thu 15 Aug 2069 05:42:18 -0930 3143805138
Fri 03 Aug 2227 17:53:10 -0430 8128678990
-4984873852
Fri 05 Nov 1999 05:15:31 -0430
Thu 19 Jun 2155 23:27:54 -0600
Fri 05 Nov 1999 05:15:31 -0430 941795131
Thu 19 Jun 2155 23:27:54 -0600 5852755674
-4910960543
Wed 24 May 2079 00:19:55 -0500
Wed 15 Aug 2277 09:50:14 -0900
Wed 24 May 2079 00:19:55 -0500 3452131195
Wed 15 Aug 2277 09:50:14 -0900 9707626214
-6255495019
Thu 20 Oct 2140 04:28:27 +0330
Thu 06 Mar 2104 23:00:38 -0430
Thu 20 Oct 2140 04:28:27 +0330 5389981107
Thu 06 Mar 2104 23:00:38 -0430 4234303838
1155677269
Sat 25 Mar 2169 04:20:31 +0800
Sun 26 Jun 2107 16:51:54 +0300
Sat 25 Mar 2169 04:20:31 +0800 6287055631
Sun 26 Jun 2107 16:51:54 +0300 4338539514
1948516117
Sat 01 Apr 2090 06:40:55 +0900
Sun 28 Jan 2283 11:34:27 +0545
Sat 01 Apr 2090 06:40:55 +0900 3794679655
Sun 28 Jan 2283 11:34:27 +0545 9879688167
-6085008512
Sat 04 Aug 2238 13:24:34 -0700
Fri 30 Sep 2005 23:39:08 +0300
Sat 04 Aug 2238 13:24:34 -0700 8475913474
Fri 30 Sep 2005 23:39:08 +0300 1128112748
7347800726
Thu 09 Jul 2105 02:11:50 +0900
Tue 22 Mar 2146 00:37:27 -0700
Thu 09 Jul 2105 02:11:50 +0900 4276516310
Tue 22 Mar 2146 00:37:27 -0700 5560990647
-1284474337
Fri 20 Mar 2015 10:10:16 -0500
Mon 03 Feb 2138 23:23:23 +0930
Fri 20 Mar 2015 10:10:16 -0500 1426864216
Mon 03 Feb 2138 23:23:23 +0930 5304491603
-3877627387
Thu 01 Jan 2105 11:21:13 +0500
Mon 04 Oct 2117 01:49:25 -1100
Thu 01 Jan 2105 11:21:13 +0500 4260234073
Mon 04 Oct 2117 01:49:25 -1100 4662794965
-402560892
Tue 19 Jul 2061 17:15:10 -1000
Mon 22 Apr 2250 10:04:43 +1100
Tue 19 Jul 2061 17:15:10 -1000 2889054910
Mon 22 Apr 2250 10:04:43 +1100 8845542283
-5956487373
Mon 15 Jul 2058 00:43:43 +0400
Sun 03 Aug 2132 11:02:09 +1030
Mon 15 Jul 2058 00:43:43 +0400 2793905023
Sun 03 Aug 2132 11:02:09 +1030 5130779529
-2336874506
Fri 10 Jan 2138 02:13:59 -0400
Tue 23 Mar 2083 06:59:22 -0300
Fri 10 Jan 2138 02:13:59 -0400 5302390439
Tue 23 Mar 2083 06:59:22 -0300 3573021562
1729368877
Sat 03 May 2206 23:02:53 -0430
Thu 30 Aug 2068 03:17:00 -0800
Sat 03 May 2206 23:02:53 -0430 7458060773
Thu 30 Aug 2068 03:17:00 -0800 3113551020
4344509753
Tue 28 Jul 2246 19:08:25 +1030
Tue 02 Jul 2193 04:39:00 +0000
Tue 28 Jul 2246 19:08:25 +1030 8727727105
Tue 02 Jul 2193 04:39:00 +0000 7053021540
1674705565
Fri 15 Feb 2228 15:43:23 +0900
Tue 31 Jul 2018 13:13:28 +0930
Fri 15 Feb 2228 15:43:23 +0900 8145557003
Tue 31 Jul 2018 13:13:28 +0930 1533008608
6612548395
Sat 17 Nov 2204 07:53:40 +0800
Sun 12 Nov 1978 13:02:43 -0300
Sat 17 Nov 2204 07:53:40 +0800 7411996420
Sun 12 Nov 1978 13:02:43 -0300 279734563
7132261857
Wed 16 Nov 2157 07:56:31 +0800
Fri 19 Mar 2049 14:18:58 -0430
Wed 16 Nov 2157 07:56:31 +0800 5928767791
Fri 19 Mar 2049 14:18:58 -0430 2499792538
3428975253
Sat 26 May 2227 17:18:53 +0100
Tue 19 Nov 2024 13:11:14 +0930
Sat 26 May 2227 17:18:53 +0100 8122695533
Tue 19 Nov 2024 13:11:14 +0930 1731987674
6390707859
Fri 28 Apr 1972 10:08:34 -0500
Tue 11 Aug 2178 03:34:41 -0900
Fri 28 Apr 1972 10:08:34 -0500 73321714
Tue 11 Aug 2178 03:34:41 -0900 6583120481
-6509798767
Sun 30 Jul 2147 14:56:43 +1400
Fri 19 Jul 2171 15:56:03 +1100
Sun 30 Jul 2147 14:56:43 +1400 5603734603
Fri 19 Jul 2171 15:56:03 +1100 6360180963
-756446360
Thu 10 Mar 2168 22:15:22 +0000
Mon 30 Jul 2159 07:54:24 +0200
Thu 10 Mar 2168 22:15:22 +0000 6254316922
Mon 30 Jul 2159 07:54:24 +0200 5982443664
271873258
Mon 07 Dec 2257 06:40:47 -0100
Sat 09 Jan 2140 17:18:29 +0500
Mon 07 Dec 2257 06:40:47 -0100 9086283647
Sat 09 Jan 2140 17:18:29 +0500 5365397909
3720885738
Tue 22 Sep 2189 18:33:00 +1300
Wed 29 Sep 1971 18:10:00 -1100
Tue 22 Sep 2189 18:33:00 +1300 6933879180
Wed 29 Sep 1971 18:10:00 -1100 55055400
6878823780
Fri 03 Jan 2076 05:17:07 +1000
Sun 17 May 2071 15:51:09 -0600
Fri 03 Jan 2076 05:17:07 +1000 3345218227
Sun 17 May 2071 15:51:09 -0600 3199125069
146093158
Fri 29 Nov 2250 05:12:44 +0200
Wed 26 Apr 2248 05:28:52 -0700
Fri 29 Nov 2250 05:12:44 +0200 8864651564
Wed 26 Apr 2248 05:28:52 -0700 8782864132
81787432
Fri 20 Oct 2254 08:16:14 +1030
Sat 01 Jan 2281 17:23:04 +0545
Fri 20 Oct 2254 08:16:14 +1030 8987406374
Sat 01 Jan 2281 17:23:04 +0545 9814304284
-826897910
Wed 21 Jun 2243 11:15:57 -0800
Sat 28 Apr 2131 05:15:09 +0630
Wed 21 Jun 2243 11:15:57 -0800 8629874157
Sat 28 Apr 2131 05:15:09 +0630 5090769909
3539104248
Wed 07 Sep 2163 21:17:42 -0700
Tue 20 Aug 2171 14:39:48 -0600
Wed 07 Sep 2163 21:17:42 -0700 6112124262
Tue 20 Aug 2171 14:39:48 -0600 6363002388
-250878126
Mon 14 Jun 2060 07:07:47 -1200
Wed 31 Mar 1971 15:38:38 +0530
Mon 14 Jun 2060 07:07:47 -1200 2854465667
Wed 31 Mar 1971 15:38:38 +0530 39262118
2815203549
Sat 11 Nov 2062 20:20:09 +1200
Tue 07 Jan 2081 18:42:21 +0430
Sat 11 Nov 2062 20:20:09 +1200 2930458809
Tue 07 Jan 2081 18:42:21 +0430 3503484741
-573025932
Sat 03 Apr 2269 09:57:27 -0430
Sat 10 Jan 2201 18:39:13 +0545
Sat 03 Apr 2269 09:57:27 -0430 9443572047
Sat 10 Jan 2201 18:39:13 +0545 7290478453
2153093594
Fri 24 Feb 2136 09:48:49 +1100
Tue 21 Mar 2062 10:10:16 +1200
Fri 24 Feb 2136 09:48:49 +1100 5243093329
Tue 21 Mar 2062 10:10:16 +1200 2910118216
2332975113
Sat 29 Jun 2137 20:49:04 +0430
Sun 03 Oct 2252 19:34:08 -0200
Sat 29 Jun 2137 20:49:04 +0430 5285578744
Sun 03 Oct 2252 19:34:08 -0200 8922951248
-3637372504
Fri 04 Jan 2069 10:30:15 -0200
Tue 17 May 2214 01:48:33 +0000
Fri 04 Jan 2069 10:30:15 -0200 3124528215
Tue 17 May 2214 01:48:33 +0000 7711638513
-4587110298
Fri 11 Mar 2016 21:13:54 -0100
Fri 07 Mar 2228 21:01:13 +0300
Fri 11 Mar 2016 21:13:54 -0100 1457734434
Fri 07 Mar 2228 21:01:13 +0300 8147412073
-6689677639
Tue 12 Apr 2231 15:38:00 +0200
Sun 05 Jan 1992 07:37:10 -0500
Tue 12 Apr 2231 15:38:00 +0200 8245114680
Sun 05 Jan 1992 07:37:10 -0500 694615030
7550499650
Tue 24 Apr 2198 16:14:38 +1300
Tue 27 Feb 2018 10:46:47 -0500
Tue 24 Apr 2198 16:14:38 +1300 7204821278
Tue 27 Feb 2018 10:46:47 -0500 1519746407
5685074871
Sat 10 Apr 2280 22:54:22 -0900
Fri 12 Jan 2080 08:56:55 +1000
Sat 10 Apr 2280 22:54:22 -0900 9791394862
Fri 12 Jan 2080 08:56:55 +1000 3472239415
6319155447
Fri 17 Nov 2276 15:42:42 +0400
Thu 06 Nov 2070 10:05:08 +0700
Fri 17 Nov 2276 15:42:42 +0400 9684186162
Thu 06 Nov 2070 10:05:08 +0700 3182468708
6501717454
Mon 24 Oct 2191 04:55:27 +0300
Mon 12 Jan 2161 03:26:51 -0900
Mon 24 Oct 2191 04:55:27 +0300 6999702927
Mon 12 Jan 2161 03:26:51 -0900 6028432011
971270916
Thu 24 Oct 1996 10:08:51 -0430
Tue 03 Aug 2038 23:15:58 +0800
Thu 24 Oct 1996 10:08:51 -0430 846167931
Tue 03 Aug 2038 23:15:58 +0800 2164461358
-1318293427
Tue 31 Oct 2006 01:34:19 +0100
Sat 23 Jun 2007 10:25:51 -1000
Tue 31 Oct 2006 01:34:19 +0100 1162254859
Sat 23 Jun 2007 10:25:51 -1000 1182630351
-20375492
Fri 03 Jul 2150 05:56:11 +0600
Sat 29 Dec 2260 15:12:49 +0545
Fri 03 Jul 2150 05:56:11 +0600 5696092571
Sat 29 Dec 2260 15:12:49 +0545 9182885269
-3486792698
Fri 03 Jul 2065 01:31:24 -0300
Tue 14 Apr 2116 02:09:21 -0700
Fri 03 Jul 2065 01:31:24 -0300 3013821084
Tue 14 Apr 2116 02:09:21 -0700 4616298561
-1602477477
Mon 25 Jul 2033 15:13:38 +0400
Mon 11 Aug 2087 03:38:34 +1400
Mon 25 Jul 2033 15:13:38 +0400 2005902818
Mon 11 Aug 2087 03:38:34 +1400 3711361114
-1705458296
Thu 28 Jun 2170 07:23:53 +0900
Sun 29 Apr 2260 02:29:29 +1030
Thu 28 Jun 2170 07:23:53 +0900 6326807033
Sun 29 Apr 2260 02:29:29 +1030 9161740769
-2834933736
Wed 02 Apr 2053 01:21:28 -0900
Mon 31 Oct 2242 11:27:13 -0900
Wed 02 Apr 2053 01:21:28 -0900 2627202088
Mon 31 Oct 2242 11:27:13 -0900 8609747233
-5982545145
Fri 29 Sep 2084 02:07:10 -1000
Sun 04 May 2183 11:28:17 -0400
Fri 29 Sep 2084 02:07:10 -1000 3621067630
Sun 04 May 2183 11:28:17 -0400 6732343697
-3111276067
Fri 12 Sep 2014 01:35:03 +0545
Sat 23 Jan 2286 08:03:53 +0600
Fri 12 Sep 2014 01:35:03 +0545 1410465003
Sat 23 Jan 2286 08:03:53 +0600 9973937033
-8563472030
Fri 28 Apr 2209 08:14:02 +0930
Mon 03 Sep 2204 07:26:04 +0400
Fri 28 Apr 2209 08:14:02 +0930 7552219442
Mon 03 Sep 2204 07:26:04 +0400 7405529164
146690278
Sat 17 Oct 2218 16:20:23 +0630
Fri 10 Jul 2133 06:02:11 -0400
Sat 17 Oct 2218 16:20:23 +0630 7851117023
Fri 10 Jul 2133 06:02:11 -0400 5160276131
2690840892
Thu 24 Sep 2178 18:14:35 -0930
Sun 16 Dec 2227 23:03:40 -1100
Thu 24 Sep 2178 18:14:35 -0930 6586976675
Sun 16 Dec 2227 23:03:40 -1100 8140385020
-1553408345
Fri 20 Mar 1992 19:32:35 +0000
Mon 16 Apr 2181 23:46:22 +1030
Fri 20 Mar 1992 19:32:35 +0000 701119955
Mon 16 Apr 2181 23:46:22 +1030 6667708582
-5966588627
Tue 21 May 2097 14:50:40 +0800
Sat 06 Sep 2036 20:31:27 +0545
Tue 21 May 2097 14:50:40 +0800 4019957440
Sat 06 Sep 2036 20:31:27 +0545 2104325187
1915632253
Mon 20 Sep 2088 16:37:20 -0800
Tue 26 Apr 2112 15:53:34 -0500
Mon 20 Sep 2088 16:37:20 -0800 3746565440
Tue 26 Apr 2112 15:53:34 -0500 4491147214
-744581774
Mon 02 Mar 2048 11:39:54 -0800
Sat 06 Jul 2261 06:47:26 +1100
Mon 02 Mar 2048 11:39:54 -0800 2466790794
Sat 06 Jul 2261 06:47:26 +1100 9199165646
-6732374852
Sat 22 Jan 1977 13:32:22 +1030
Sat 24 Jan 2178 22:37:08 +0330
Sat 22 Jan 1977 13:32:22 +1030 222750142
Sat 24 Jan 2178 22:37:08 +0330 6565950428
-6343200286
Tue 12 Jun 2046 11:37:04 -0500
Sat 21 May 2044 14:06:13 +1030
Tue 12 Jun 2046 11:37:04 -0500 2412434224
Sat 21 May 2044 14:06:13 +1030 2347414573
65019651
Fri 12 Oct 2063 22:07:36 +1030
Thu 05 Jan 1984 08:58:18 +0300
Fri 12 Oct 2063 22:07:36 +1030 2959414656
Thu 05 Jan 1984 08:58:18 +0300 442130298
2517284358
Wed 18 Feb 2235 01:26:39 +1100
Mon 01 May 2023 19:25:34 -1100
Wed 18 Feb 2235 01:26:39 +1100 8366682399
Mon 01 May 2023 19:25:34 -1100 1683008734
6683673665
Mon 20 Nov 2276 13:34:20 +0930
Fri 15 Jun 2029 08:03:18 -1000
Mon 20 Nov 2276 13:34:20 +0930 9684417860
Fri 15 Jun 2029 08:03:18 -1000 1876240998
7808176862
Sat 31 Jan 2246 04:22:55 +0600
Tue 26 Jul 2033 22:17:49 -0600
Sat 31 Jan 2246 04:22:55 +0600 8712310975
Tue 26 Jul 2033 22:17:49 -0600 2006050669
6706260306
Tue 02 Aug 1994 23:34:02 -0100
Thu 12 Nov 2235 06:41:07 +1400
Tue 02 Aug 1994 23:34:02 -0100 775874042
Thu 12 Nov 2235 06:41:07 +1400 8389759267
-7613885225
Wed 25 May 2033 03:35:01 +0600
Thu 25 Dec 2110 19:08:36 +0900
Wed 25 May 2033 03:35:01 +0600 2000583301
Thu 25 Dec 2110 19:08:36 +0900 4448945316
-2448362015
Sun 15 Mar 2009 14:05:33 -0400
Fri 13 Jun 1980 21:28:12 +1300
Sun 15 Mar 2009 14:05:33 -0400 1237140333
Fri 13 Jun 1980 21:28:12 +1300 329732892
907407441
Thu 18 Jun 2009 18:51:53 +1400
Tue 25 Nov 2059 18:30:23 +1000
Thu 18 Jun 2009 18:51:53 +1400 1245300713
Tue 25 Nov 2059 18:30:23 +1000 2836974623
-1591673910
Tue 18 Feb 2212 02:12:43 -0930
Tue 06 Oct 2268 03:10:40 +0500
Tue 18 Feb 2212 02:12:43 -0930 7640912563
Tue 06 Oct 2268 03:10:40 +0500 9428047840
-1787135277
Fri 09 Jul 2286 08:53:13 +0930
Mon 26 Feb 2142 01:15:30 +0930
Fri 09 Jul 2286 08:53:13 +0930 9988356193
Mon 26 Feb 2142 01:15:30 +0930 5432629530
4555726663
Sun 09 Jan 2022 19:02:40 +1300
Tue 12 Aug 2059 14:07:10 +0800
Sun 09 Jan 2022 19:02:40 +1300 1641708160
Tue 12 Aug 2059 14:07:10 +0800 2827894030
-1186185870
Sat 08 Jul 2023 08:13:44 -1200
Sun 12 Dec 2010 22:19:32 +0630
Sat 08 Jul 2023 08:13:44 -1200 1688847224
Sun 12 Dec 2010 22:19:32 +0630 1292168972
396678252
Fri 01 Jul 2050 19:10:54 -0100
Thu 10 Apr 2138 14:59:21 -0500
Fri 01 Jul 2050 19:10:54 -0100 2540319054
Thu 10 Apr 2138 14:59:21 -0500 5310215961
-2769896907
Wed 25 Nov 2189 06:45:13 +0200
Sat 22 Oct 2061 13:20:00 +0530
Wed 25 Nov 2189 06:45:13 +0200 6939405913
Sat 22 Oct 2061 13:20:00 +0530 2897193000
4042212913
Fri 22 Mar 1985 22:34:45 +0600
Thu 19 Mar 2172 05:41:08 -0300
Fri 22 Mar 1985 22:34:45 +0600 480357285
Thu 19 Mar 2172 05:41:08 -0300 6381276068
-5900918783
Sat 25 Sep 1982 05:50:54 +0930
Sun 21 Apr 2278 04:24:45 -1200
Sat 25 Sep 1982 05:50:54 +0930 401746854
Sun 21 Apr 2278 04:24:45 -1200 9729131085
-9327384231
Wed 05 Oct 2050 12:02:14 +0530
Wed 30 Apr 2059 08:09:46 +1400
Wed 05 Oct 2050 12:02:14 +0530 2548564334
Wed 30 Apr 2059 08:09:46 +1400 2818865386
-270301052
Mon 09 Oct 2186 20:12:57 +0330
Sat 29 Dec 2255 18:37:49 +0500
Mon 09 Oct 2186 20:12:57 +0330 6840693777
Sat 29 Dec 2255 18:37:49 +0500 9025047469
-2184353692
Tue 15 Dec 2009 07:01:49 +1300
Sat 14 Apr 2221 02:56:39 -0930
Tue 15 Dec 2009 07:01:49 +1300 1260813709
Sat 14 Apr 2221 02:56:39 -0930 7929750399
-6668936690
Sun 29 Nov 1987 02:10:57 -0600
Sat 25 Jun 2208 13:57:19 +0530
Sun 29 Nov 1987 02:10:57 -0600 565171857
Sat 25 Jun 2208 13:57:19 +0530 7525729639
-6960557782
Tue 26 Nov 2211 22:41:01 +0430
Mon 01 Apr 2052 19:10:40 -0500
Tue 26 Nov 2211 22:41:01 +0430 7633678261
Mon 01 Apr 2052 19:10:40 -0500 2595629440
5038048821
Sun 07 Apr 2267 13:06:14 -0100
Wed 22 Nov 2124 11:49:22 +0500
Sun 07 Apr 2267 13:06:14 -0100 9380757974
Wed 22 Nov 2124 11:49:22 +0500 4887931762
4492826212
Sun 16 Jun 2216 08:18:21 -0430
Fri 13 Sep 1991 21:59:15 +0200
Sun 16 Jun 2216 08:18:21 -0430 7777428501
Fri 13 Sep 1991 21:59:15 +0200 684791955
7092636546
Tue 17 May 1977 17:24:30 +0430
Tue 08 Jan 2019 13:31:23 +0300
Tue 17 May 1977 17:24:30 +0430 232721670
Tue 08 Jan 2019 13:31:23 +0300 1546943483
-1314221813
Fri 10 Jul 2144 06:22:53 +0930
Sat 10 Oct 1992 15:42:54 -0400
Fri 10 Jul 2144 06:22:53 +0930 5507383973
Sat 10 Oct 1992 15:42:54 -0400 718746174
4788637799
Mon 21 Jun 2088 09:26:48 +0330
Fri 26 Aug 2146 12:39:37 -0800
Mon 21 Jun 2088 09:26:48 +0330 3738635808
Fri 26 Aug 2146 12:39:37 -0800 5574602377
-1835966569
Sun 23 Jun 2086 03:58:25 +1100
Tue 24 Oct 2265 19:23:42 +0100
Sun 23 Jun 2086 03:58:25 +1100 3675603505
Tue 24 Oct 2265 19:23:42 +0100 9334981422
-5659377917
Sat 25 Jun 2078 21:33:09 +0500
Wed 14 Feb 2283 11:48:06 +0600
Sat 25 Jun 2078 21:33:09 +0500 3423400389
Wed 14 Feb 2283 11:48:06 +0600 9881156886
-6457756497
Mon 29 Dec 2223 04:13:37 +0330
Fri 26 Dec 2036 13:42:38 +1100
Mon 29 Dec 2223 04:13:37 +0330 8015157817
Fri 26 Dec 2036 13:42:38 +1100 2113872158
5901285659
Sat 06 Aug 2061 15:39:33 -1000
Thu 20 Nov 2223 05:28:37 -1000
Sat 06 Aug 2061 15:39:33 -1000 2890604373
Thu 20 Nov 2223 05:28:37 -1000 8011841317
-5121236944
Wed 29 Aug 2029 06:11:15 +0900
Thu 11 Sep 2217 22:45:23 +0630
Wed 29 Aug 2029 06:11:15 +0900 1882645875
Thu 11 Sep 2217 22:45:23 +0630 7816493723
-5933847848

#Debugging: Default Arguments
https://www.hackerrank.com/challenges/default-arguments/problem?isFullScreen=true

In [ ]:
class EvenStream(object):
    def __init__(self):
        self.current = 0
        print("even init")

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

class OddStream(object):
    def __init__(self):
        self.current = 1
        print("odd init")

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

def print_from_stream(n, stream=EvenStream()):
    for _ in range(n):
        print(stream.get_next())


#queries = int(input())
queries = 4
query_strings = """odd 2
odd 4
even 2
even 4
 """
for i in range(queries):
    #stream_name, n = input().split()
    #n = int(n)
    stream_list = query_strings.split()
    stream_name, n = stream_list[i*2], int(stream_list[i*2+1])
    if stream_name == "even":
        print_from_stream(n)
        #print_from_stream(n, EvenStream())
    else:
        print_from_stream(n, OddStream())

even init
odd init
1
3
odd init
1
3
5
7
0
2
4
6
8
10